
  .custom-container {
    color: blanchedalmond;
    margin: 10% auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    background-color: #080808;
  }
  
  .custom-form {
    margin-bottom: 8px;
    
  }
  
  .mb-3 label {
    font-family: Arial;
    display: block;
    color: #646464;
    text-align: left;
    /* text-transform: uppercase; */
    margin-bottom: 8px;
    
  }
  
  .mb-3 input {
    color: white;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgb(37, 37, 37);
    width: 100%;
  }

  .mb-3 input:active{
    background-color: rgb(24, 24, 24) !important;
  }
  .mb-3 .custom-title{
    font-family: Arial;
    font-weight: bold;
    display: block;
    color: #ffffff;
    text-align: center !important;
    text-transform: uppercase !important;
    margin-bottom: 8px;
  }
  .custom-form input {
    display: block;
    width: 300px;
    margin: auto;
    border-radius: 4px;
    padding: 4px;
   
  }
  
  .custom-btn{
    margin-top: 16px;
    font-family: Arial;
    font-weight: lighter;
    border-radius: 5px;
    padding-left: 119px;
    padding-right: 119px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white ;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(37, 37, 37);
  }