/* .flex-container{
    background-color: black;
} */
.img-detail{
    width: 25rem ;
}
.card-img{
    margin-left: 15rem;
}
.detail-title{
    font-size: 3rem !important;
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
    /* text-transform: uppercase; */
}

.card-body{
    width: 25rem;
}

li{
    display: inline;
    text-align: justify !important;
}

.content-title{
    font-size: 16px !important;
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
    padding-left: 20px;
}

.content-desc{
    font-size: 15px !important;
    color: gray;
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
}