.navbar-brand{
margin-left: 1rem;
}

.btn{
    background-color: rgb(20, 20, 20);
    border-color: grey;
    color: white;
}

.custom-btn-nav{
    background-color: transparent !important;
    border: none !important;
    color: white;
    margin-right: 1rem;
}
.fas {
    color: white !important;
}
li p{
 color: white !important;  
 text-decoration: none !important; 
 padding-top: 1rem !important;
 padding-right: 1rem;
}
nav form{
    padding-right: 5rem;
}