 .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-container > div {
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    
  }

  .card {
    width: 10rem; 
    height: 22rem;
    background-color:rgb(255, 255, 255) !important;
    border: 1px gray !important;
  }

  .card-title{
    text-align: center !important;
    color: rgb(0, 0, 0) !important;
    font-size: 15px!important;
    font-weight: bolder;
  }
  
  .card-text{
    text-align: center !important;
    color: rgb(85, 85, 85) !important;
    font-size: 13px !important;
    /* font-weight: lighter !important; */

  }

  .card-img-top{
    border-radius: 5px ; 
    padding-right: 0px !important;
    margin: 10px !important;
    width: 90% !important;
    height: auto !important;
    text-align: center !important;  
  }

  .title-page{
    margin: 1rem;
    font-weight: bolder !important;
    text-transform: uppercase;

  }

  .quick-view-btn{
    background-color: transparent !important;
    border: none;
    color: black;
    font-size: 12px;
    padding-left: 25%;

    
  }
 